/* customize global theme */

/* Opt-out of certain component styles */
$skipComponentStyles: (cx-mini-cart);

%custom-mini-cart {
  a {
    color: white;
    position: relative;
    display: block;

    .count {
      border: solid 2px var(--cx-color-dark);
      background: var(--cx-color-primary);
      border-radius: 5px;
      width: 20px;
      height: 20px;
      display: flex;
      position: absolute;

      justify-content: center;
      align-items: center;
      top: -10px;
      right: -10px;
    }
    .total {
      display: none;
    }
  }
}

cx-mini-cart {
  // placeholder selectors are btw still available to you...
  // @extend %cx-mini-cart;
  @extend %custom-mini-cart !optional;
}
