/* You can add global styles to this file, and also import other style files */
@import './app/features/styling/custom-styles.scss';
@import '~@spartacus/styles/index';

:root {
  // --cx-color-primary: blue;
  // --cx-color-secondary: green;
}

// @import './app/features/layout/layout.scss';

// @import './app/features/icon/icons.scss';
