.wish-list {
  position: fixed;
  padding: 40px;
  top: 10%;
  right: 10%;
  width: 40%;
  background-color: #ccffb4;
  opacity: 0.9;
  z-index: 100;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;

  h3 {
    text-align: center;
  }

  ul {
    list-style: none;
    li {
      font-size: 113%;
      font-weight: bold;
      a {
        color: #333;
      }
      cx-icon {
        color: red;
        margin-right: 10px;
      }
    }
  }

}
